<footer class="footer py-5 bg-dark">
  <div class="text-white text-start">
    <div class="row">
      <div class="col text-center ">
        <div>GET IN TOUCH.</div>
        <span class="fas fa-envelope"></span>
        <span> gehadmarawan7&#64;gmail.com</span>
        <br>
        <span class="fas fa-phone"></span>
        <span> 717-232-456</span>
        <br>
      </div>
      <div class="col text-center">
        <button class="btn btn-outline-danger">Contact ME</button>
      </div>
      <div class="col text-center ">
        <pre>
          <a href="#"><span class="fab fa-linkedin text-white" ></span></a> <a href="#"><span class="fab fa-github text-white"></span></a> <a href="#"><span class="fab fa-twitter  text-white"></span></a>
          <p>Copyright is Reserved.</p>
        </pre>
      </div>
    </div>
  </div>
</footer>
